<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <i class="bi bi-person-circle" id="dropdownFormLogout" ngbDropdownToggle></i>

            <div ngbDropdownMenu aria-labelledby="dropdownFormLogout" class="position-fixed">

                <div class="px-4 dropdown-item" ngbDropdownItem>
                    <div class="edit-notebook-wrapper edit-item text-end" (click)="logout()">
                        <i class="bi bi-box-arrow-right pe-2"></i>
                        <span>Logout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>