.login-form {
    border: 1px solid #e8e8e8;
    box-shadow: 0 0 15px #e8e8e8;
    border-radius: 0.6em;
}

.login-header {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
}

.btn-login {
    background-color: #8c00ff;
    color: #f2f2f2;
    border-radius: 1.3em;
    width: 100%;
}

.btn-login:active {
    border: 1px solid #8c00ff !important;
    background-color: white !important;
    color:#8c00ff;
}

.btn-login:hover {
    background-color: #a332ff;
}

a {
    text-decoration: none;
    color: #8c00ff;
}

a:hover {
    border-bottom: 1px solid #8c00ff;
}