<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-11 col-lg-6 col-md-8 col-sm-10">
            <div class="login-form px-3 px-md-5 pt-3 pb-5">
                <form>
                    <div class="mb-3 text-center">
                        <span class="login-header">Sign in</span>
                    </div>
                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Login</label>
                        <input type="text" class="form-control" id="loginInput">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-login mb-3">Continue</button>
                </form>

                <div class="text-muted">
                    Don't have an account? <a href="/register">Sign up</a>
                </div>
            </div>
        </div>
    </div>

</div>