<div class="modal-header">
    <h4 class="modal-title"> {{message}} </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cancel()"></button>
</div>
<div class="modal-body">
    <div> {{description}} </div>
</div>
<div class="modal-footer">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-danger" (click)="ok()">Delete</button>
        <button type="button" class="btn btn-outline-dark" (click)="cancel()">Close</button>
    </div>
</div>