<div class="container-md text-center mt-5">
    <div class="col">
        <div class="header">Your Notebook Maker </div>
        <div class="subheader">Create Unique Notebooks for Every Occasion</div>
        <div class="mt-5 description">
            Transform your note-taking experience with our revolutionary web application!
            Our app puts you in control, allowing you to effortlessly create personalized notebooks that perfectly cater
            to your unique needs.
            Whether you're a student, professional, or anyone in between, our app makes it easy to craft a notebook
            environment that empowers you to succeed.
        </div>
    </div>
</div>